{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="main-content-wrapper">
    <main class="main-content">
        <div class="container-fluid">
            <h1>Hello World</h1>

            <div class="card">
                <div class="card-header">
                    Run "echo" for different languages
                </div>
                <div class="card-body">
                    <select id="greeting-select"></select>
                    <button id="run-button" class="btn btn-primary">Run</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Experiments
                </div>
                <div class="card-body">
                    <button id="refresh-button" class="btn btn-secondary">Refresh</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Application</th>
                                <th scope="col">Creation Time</th>
                                <th scope="col">Status</th>
                                <th scope="col">Output</th>
                            </tr>
                        </thead>
                        <tbody id="experiment-list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}

{% block scripts %}
<!-- Load the AiravataAPI JavaScript SDK (optional) -->
<script src="{% static 'django_airavata_api/dist/airavata-api.js' %}"></script>
<script>
    const { models, services, session, utils } = AiravataAPI;

    utils.FetchUtils.get("/custom_ui_tutorial_app/languages/").then((data) => {
        data.languages.forEach((language) => {
            $("#greeting-select").append(
                `<option value="${language.greeting}">
                    ${language.lang} - "${language.greeting}"
                 </option>`
            );
        });
    });

    const appInterfaceId = "Echo_23d67491-1bef-47bd-a0f5-faf069e09773";

    async function loadExperiments() {

        const data = await services.ExperimentSearchService
            .list({limit: 5,
                [models.ExperimentSearchFields.USER_NAME.name]: session.Session.username,
                [models.ExperimentSearchFields.APPLICATION_ID.name]: appInterfaceId,
            });

        $('#experiment-list').empty();
        data.results.forEach(async (expSummary, index) => {
            
            $('#experiment-list').append(
            `<tr>
                <td>${expSummary.name}</td>
                <td>${expSummary.executionId}</td>
                <td>${expSummary.creationTime}</td>
                <td>${expSummary.experimentStatus.name}</td>
                <td id="output_${index}"></td>
            </tr>`);
    
            // If experiment has finished, download and display the stdout file contents
            if (expSummary.experimentStatus === models.ExperimentState.COMPLETED) {
                const experiment = await services.ExperimentService.retrieve({
                    lookup: expSummary.experimentId
                });
                const stdoutInput = experiment.getExperimentOutput('Echo-STDOUT');
                const dataProductURI = stdoutInput.value;
                try {
                    const stdout = await utils.ExperimentUtils.readDataProduct(dataProductURI);
                    $(`#output_${index}`).text(stdout);
                } catch (error) {
                    $(`#output_${index}`).text("N/A");
                }
            }
        });
    }

    loadExperiments();
    $("#refresh-button").click(loadExperiments);

    async function submitExperiment(greeting) {
        // Construct experiment object
        const experimentData = await utils.ExperimentUtils.createExperiment({
            applicationInterfaceId: appInterfaceId,
            computeResourceName: "example-vc.jetstream-cloud.org",
            experimentName: "Echo " + greeting,
            experimentInputs: {
                "Input-to-Echo": greeting
            }
        });
        // Save experiment
        const experiment = await services.ExperimentService.create({ data: experimentData });
        // Launch experiment
        await services.ExperimentService.launch({ lookup: experiment.experimentId });
    }

    async function runClickHandler() {
        const greeting = $("#greeting-select").val();
        await submitExperiment(greeting);
        // Reload experiments to see the new one
        loadExperiments();
    }

    $("#run-button").click(runClickHandler);
</script>
{% endblock scripts %}
